<template>
  <div>
    <v-app-bar app clipped-right flat height="78" class="d-flex justify-end">
      <v-container> </v-container>
    </v-app-bar>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
