<template>
  <div>
    <v-system-bar app>
      <v-spacer></v-spacer>
      <v-icon>mdi-square</v-icon>

      <v-icon>mdi-circle</v-icon>

      <v-icon>mdi-triangle</v-icon>
    </v-system-bar>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
